# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# File Kredensial & Sensitif
# Jangan pernah commit file kredensial secara langsung.
*.json
*.log

# File Sistem Operasi
.DS_Store
Thumbs.db

# File IDE
.vscode/
.idea/
